body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    
}

h1{
    text-align: center;
}

#content {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

table {
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    border: 5px solid white;
    cursor: pointer;
}

td:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

table {
    border: none;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 96px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3f95f2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: solid 1px white;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
}

tr:first-child td {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}
